<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJH9I_WTJeulE_DkoikMq08TkKeDLp7os</string>
	<key>GCM_SENDER_ID</key>
	<string>832777697852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegemgt</string>
	<key>PROJECT_ID</key>
	<string>fir-pratice-96ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pratice-96ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832777697852:ios:0989e98a0816d7fa7fa139</string>
	<key>DATABASE_URL</key>
	<string>https://fir-pratice-96ab4-default-rtdb.firebaseio.com</string>
</dict>
</plist>